.card {
    background-color: var(--dark1);
    overflow: hidden;
    /* box-shadow: 2px 2px 20px #999; */
  }

.card-header {
    min-height: 200px;
    position: relative;
}

.profile-photo {
    max-height: 30vh;
    object-fit: cover;
    object-position: center;
}

.photo-container {
    background-color: var(--light2);
    width: 100%;
}

.photo-circle {
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    height: 180px;
    width: 180px;
    border: 5px solid white;
    background-color: #fff;
    left: calc(50% - 85px);
    bottom: -45%;
} 